# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.env/
.venv/
electronics/
lib/
bin/
include/

# Jupyter
.ipynb_checkpoints/


# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db


# Data files
*.csv
*.xlsx
*.xls
*.dat
*.log


# Plots & images 
*.png
*.jpg
*.jpeg
*.svg


# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.nav
*.snm

!*.tex
!*.pdf

# Temporary / backup files
*~
*.tmp
*.bak